{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'mysite/css/mysite.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/aecb0a9d5d.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'mysite/img/m.png' %}" type="png">
</head>
<body>
    <aside>
        <img src="{% static 'mysite/img/m.png' %}" alt="ua">
        <span class="ua">UA</span>
        <h3>flawer</h3>

        <ul>
            <li><a href="{% url 'home' %}"> <i class="fa-solid fa-house"> </i> mysite</a></li>
            <li><a href="{% url 'about' %}"> <i class="fa-solid fa-file-lines"></i> about_my </a></li>
            <li><a href=""> <i class="fa-solid fa-address-card"></i> контакти </a></li>
        </ul>
    </aside>
    <mysite>
        {% block content %}
        {% endblock %}
    </mysite>
</body>
</html>